<div class="container text-black">
  <div
    class="d-flex flex-column w-100 justify-content-center align-items-center"
  >
    <div
      class="text-center w-100 d-flex align-items-center mb-3 flex-wrap"
      style="color: whitesmoke"
    >
      <div class="w-100 text-white" [@enterState]>
        <img
          class="w-100 banner-sales mt-4 mb-4"
          src="https://nikearprod.vtexassets.com/assets/vtex.file-manager-graphql/images/9b2a473c-c28f-4aff-bdd2-9650fd42b7d8___4ec106d1bcf4d00204e0573038449ee2.jpg"
          alt=""
        />
      </div>
      <div class="w-100 text-black">
        <h1 [@enterStateTwo]>FEEL THE UNREAL</h1>
        <hr />

        <h3 class="m-4">
          <a href="">Conocé las promociones bancarias</a>
        </h3>
      </div>
    </div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <img
      class="w-100 imgg mt-4 mb-4"
      src="https://nikearprod.vtexassets.com/assets/vtex.file-manager-graphql/images/adcf19b4-e961-4cdf-b0a7-997f25783ad0___efabb85f6ff78b445753a0a99837a6e3.jpg"
      alt=""
    />
  </div>

  <app-tiendacomp></app-tiendacomp>
</div>
