<div class="container">
  <div class="w-100 d-flex justify-content-end">
    <h2 class="titulo">Inicio</h2>
  </div>

  <hr />

  <div
    class="d-flex flex-column w-100 justify-content-center align-items-center"
  >
    <div
      class="text-center w-100 d-flex align-items-center mb-3 flex-wrap"
      style="color: whitesmoke"
    >
      <div class="w-100 text-white" [@enterState]>
        <img
          class="besidenora"
          src="https://i.ibb.co/q0rKzck/DSC-3055.jpg"
          alt=""
        />
        <img src="https://i.ibb.co/wgkqJPj/NORA-Marca-BT.png" alt="" />
        <img
          class="besidenora"
          src="https://i.ibb.co/2yBQCVF/DSC-3016.jpg"
          alt=""
        />
      </div>
      <div class="w-100">
        <h1 class="text-white" [@enterStateTwo]>Terapia basada en plantas</h1>
        <hr />

        <h3 class="m-4">
          Nuestros productos contienen
          <b style="color: #a3afd2">diferentes perfiles</b> de cannabinoides
          para el tratamiento de diversas patologías. Te invitamos a explorar
          nuestro catálogo.
        </h3>
      </div>
    </div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <img
      class="w-100 imgg mt-4 mb-4"
      src="https://i.ibb.co/chV2zhw/decd282f-5538-4ed8-9519-cc25c8642a91.jpg"
      alt=""
    />
  </div>

  <app-tiendacomp></app-tiendacomp>
</div>
