.card {
    width: 44rem;
}

.imgg {
    height: 30rem;
    width: 100%;
    object-fit: contain; /* Escala la imagen manteniendo la relación de aspecto y cubriendo el área disponible */
}

.card-img-top {
    position:relative ;
    right: 6rem;
    width: 13rem;
}

.benefits {
    position: absolute;
    right: 2.8rem;
}

