<div class="container">
  <div class="w-100 d-flex justify-content-end">
    <h2 class="titulo mb-4">Contacto</h2>
  </div>

  <hr />
  <div class="w-100 d-flex justify-content-center">
    <mat-card class="bg-light">
      <mat-card-content>
        <div class="formcontenedor">
          <form action="" [formGroup]="emailForm" class="d-flex flex-column mt-4 bg-light">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Email"
                formControlName="from"
                [errorStateMatcher]="matcher"
              />

            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Nombre"
                formControlName="subject"
                [errorStateMatcher]="matcher"
              />

 
            </mat-form-field>
            <mat-form-field class="example-full-width" color="accent">
              <textarea
                formControlName="mail"
                matInput
                placeholder="Mensaje"
                rows="5"
              ></textarea>

 
            </mat-form-field>
            <div class="w-100 d-flex justify-content-center">
              <button class="w-50 m-3" mat-raised-button>
                Enviar
              </button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
