<h1 class="text-white m-3">Editar producto</h1>

<div class="w-100 d-flex justify-content-center">
  <form [formGroup]="productForm" class="d-flex flex-column w-75">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input formControlName="name" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input formControlName="price" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input formControlName="description" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ratio</mat-label>
      <input formControlName="ratio" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contenido</mat-label>
      <input formControlName="contenido" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Link imagen</mat-label>
      <input formControlName="image" matInput />
    </mat-form-field>

    <div>
      <button class="btn m-3" color="accent" mat-raised-button (click)="onSubmit()">Guardar</button>
      <button class="btn m-3" color="warn" mat-raised-button (click)="closeDialog()">Cancelar</button>
    </div>
  </form>
</div>
