<div class="container">
  <div class="w-100 d-flex justify-content-around">
    <!-- Botones Comentados -->
  </div>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="border">
      <tr *ngFor="let product of productos; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ product.name }}
        </td>
        <td>{{ product.price }}</td>
        <td class="d-flex justify-content-around align-items-center flex-wrap">
          <button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms', i)" [disabled]="product.name == ''">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-raised-button (click)="openDialogAnalytics('0ms', '0ms', i)" [disabled]="product.name == ''">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
          <button color="warn" mat-raised-button (click)="deleteProduct(product)" [disabled]="product.name == ''">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Considera colocar el botón de Añadir Producto aquí -->
  <button class="m-4" mat-raised-button (click)="openDialog('0ms', '0ms', productos.length)">Añadir Producto</button>
</div>
