.buttons {
    width: 90%;
}

.mat-fab {
    position: fixed;
  bottom: 2rem; /* Ajusta la distancia desde la parte inferior según tus necesidades */
  left: 2rem;
  z-index: 10;
}

.minifab {
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 2.7rem;
    z-index: 10101;
    opacity: 100%;
}
