<div class="mat-fab">
  <button class="minifab" mat-mini-fab color="accent">
    <b>{{ this.cartSer.cart.items.length }}</b>
  </button>
  <button
    class="minifabempty"
    mat-mini-fab
    mat-mini-fab
    color="accent"
    (click)="cleanCartEvent(drawer)"
    [disabled]="cartSer.cart.items.length == 0"
  >
    <mat-icon>remove_shopping_cart</mat-icon>
  </button>
  <button
    (click)="drawer.toggle()"
    mat-fab
    color="accent"
    [disabled]="cartSer.cart.items.length == 0"

    >
    <mat-icon
    >shopping_cart</mat-icon>
  </button>
</div>
<app-navbar></app-navbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" style="position: fixed; top: 10">
    <mat-nav-list>
      <div class="d-flex align-items-center m-3 border-bottom">
        <mat-icon>shopping_cart</mat-icon>
        <h2 class="m-3">Mi carrito:</h2>
      </div>

      <div
        class="mt-3 d-flex flex-wrap justify-content-between align-items-center"
        *ngFor="let itemcart of this.cartSer.cart.items"
      >
        <div class="d-flex justify-content-center">
          <img class="imgcartside" src="{{ itemcart.product.image }}" alt="" />
          <button class="minifab b" mat-mini-fab color="accent">
            <b>{{ itemcart.cantidad }}</b>
          </button>
        </div>
        <div class="d-flex flex-column text-start w-50">
          <b>{{ itemcart.product.name }}</b>
          {{ itemcart.product.contenido }}
          {{ itemcart.priceconjunto }}
        </div>
        <button
          mat-raised-button
          color="warn"
          class="btn m-2"
          (click)="this.cartSer.removeItemFromCart(itemcart, drawer)"
        >
          <mat-icon class="">delete</mat-icon>
        </button>
      </div>
      <div class="d-flex align-items-center w-100 justify-content-around mt-3">
        <div class="">
          <h3 class="">Precio final:</h3>
          <h2 class="">{{ this.cartSer.cart.finalPrice }}</h2>
        </div>
        <button
          mat-raised-button
          class="btn"
          color="accent"
          (click)="checkoutEvent(drawer)"
        >
          Checkout
        </button>
      </div>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content
    style="min-height: 100vh; max-width: 100wh; background-color: #ecd7a6"
  >
    <router-outlet> </router-outlet>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
