.card {
  width: 44rem;
}

.card-img-top {
  width: 100%;
  height: 14rem;
  border-radius: 1rem;
  margin: 0.5rem;
  border: 2px solid white;
}

.ratio {
  position: absolute;
  right: 0rem;
  top: 3rem;
}

.success-snackbar {
  --mdc-snackbar-container-color: green !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
  white-space: pre-wrap
}

.snackbar-error {
  background-color: #F44336 !important  ; /* Rojo */
  color: #FFFFFF; /* Blanco */
}
