<div class="w-100 d-flex justify-content-center">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div
    [@enterState]="true"
    class="row card-container w-100 d-flex justify-content-around mt-4"
  >
    <mat-card
      *ngFor="let product of products"
      class="col-xl-3 col-md-4 col-sm-5 text-center m-2 text-dark"
    >
      <h2 class="title-product">{{ product.name }}</h2>
      <hr />
      <button class="ratio" *ngIf="product.ratio" mat-fab color="accent">
        <b><p class="m-0 mt-2">Ratio</p></b>
        <p class="m-0">{{ product.ratio }}</p>
      </button>
      <div class="d-flex justify-content-center">
        <img
          class="card-img-top"
          src="{{ product.image }}"
          alt="Card image cap"
          [routerLink]="['/product', product.id]"
        />
      </div>

      <div class="card-body">
        <div class="card-details">
          <p class="card-text text-secondary">{{ product.shortdescription }}</p>
        </div>
        <div
          class="d-flex justify-content-center w-100 mb-3 card-product-price"
        >
          <h2 class="m-1">$<b>{{ product.price }}</b></h2>
        </div>
        <a
          href="#"
          (click)="
            openDialog('0ms', '0ms', product.sizes); $event.preventDefault()
          "
        >
          <p class="mb-3">Disponibilidad de talles</p>
        </a>
      </div>
    </mat-card>
  </div>
</div>
