* {}

.noAvailableSize {
    background-color: grey;
    cursor:not-allowed;
  }

.size:hover:not(.noAvailableSize) {
    background-color: black;
    color: white;
    cursor: pointer;
}

.cuotas-cartel {
    height: 4rem;
}

@media (max-width: 576px) {

    .miniimgs {
        display: none;
    }

    .size {
        width: 20%;
    }

    .div-half-one {
        width: 100%;
    }

    .div-half-two {
        width: 100%;
    }

}
